<?xml version="1.0"?>
<!--
  Para obtener más información sobre cómo configurar la aplicación de ASP.NET, visite
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
    <add key="ChartImageHandler" value="storage=memory;deleteAfterServicing=false;"/>
    <add key="ChartImageHandler" value="storage=file;timeout=20;" />
    <add key="aspnet:MaxHttpCollectionKeys" value="100000" />
    <add key="FolderPath" value="uploads"/>
    <add key="rutaUploadDocumentos" value="C:\Users\User\Desktop\Codigo Fuente 2018\TITUSWEB_PRODUCCION\SFW.Web\SFW.Web\" />
  </appSettings>
  <!--<system.web.extensions>
    <scripting>
      <scriptResourceHandler enableCompression="false" enableCaching="true"/>
    </scripting>
  </system.web.extensions>-->
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <remove name="ChartImageHandler" />
      <add name="ChartImageHandler" preCondition="integratedMode" verb="GET,HEAD,POST"
      path="ChartImg.axd" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    </handlers>
  </system.webServer>
  <system.web>
    <machineKey validationKey="02BCF50AF2945017D85F12B77B4F2D312FCAEC2B51467791934AD939D4E4CF91AF2905BD20FACCFD3683415EF514B5EC5ACEF3811CEFD8211002C8C71075EF2B"
decryptionKey="7D5F7532912EEA3403841350C848124B8651A039B1AFE06656A688E8214D8F60"
validation="SHA1" decryption="AES"/>
    <httpRuntime targetFramework="4.5" requestValidationMode="2.0"/>
    <customErrors mode="Off"/>
    <sessionState mode="InProc" timeout="80000" />
    <httpHandlers>
      <add path="ChartImg.axd" verb="GET,HEAD,POST" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
       validate="false" />
    </httpHandlers>
    <pages validateRequest="false">
      <controls>
        <add tagPrefix="asp" namespace="System.Web.UI.DataVisualization.Charting"
         assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      </controls>
    </pages>
    <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <add assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      </assemblies>
    </compilation>
  </system.web>
  <connectionStrings>
    <add name="sql" connectionString="Data Source=10.10.0.241; Initial Catalog=repaso; user id=sa; password=~L@Pr0t3ct0r@~2020~;" providerName="System.Data.SqlClient"/>

    <!--prueba-->
    <!-- <add name="mysql" connectionString="Data Source=10.10.0.225; Initial Catalog=solben_bd; user id=dbprogram01; password=lp.190181..;Convert Zero Datetime=True" providerName="MySql.Data.MySqlClient"/>
    <add name="seguros" connectionString="Data Source=10.10.0.150; Initial Catalog=T_SEGUROS; user id=sa; password=WAPZZperu001;" providerName="System.Data.SqlClient"/>-->
    <!--produccion-->
   <add name="mysql" connectionString="Data Source=10.100.100.12; Initial Catalog=solben_bd; user id=dbprogram01; password=lp.190181..;" providerName="MySql.Data.MySqlClient"/>  
  <add name="seguros" connectionString="Data Source=10.10.0.241; Initial Catalog=T_SEGUROS; user id=sa; password=~L@Pr0t3ct0r@~2020~;" providerName="System.Data.SqlClient"/>


    
  </connectionStrings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="webServiceDemoSoap" />
      </basicHttpBinding>
      <customBinding>
        <binding name="webServiceDemoSoap12">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
      </customBinding>
    </bindings>
    <client>
      <endpoint address="http://aws.laprotectora.com.pe/WS_IOSANDROID_EVO/WebServiceDemo.asmx"
       binding="basicHttpBinding" bindingConfiguration="webServiceDemoSoap"
       contract="ServiceReferencesEmail.webServiceDemoSoap" name="webServiceDemoSoap" />
    </client>
  </system.serviceModel>
</configuration>
