.icon-size
{
    font-size: 87px;
}
.icon-size2
{
    font-size: 40px;
}

.color-blue {color: #A2B8D2;}
.color-red {color: #FF0000;}
.color-green{color:#88E553;}
.color-purple {color: #E58CE2;}
.color-gray {color: #514949;}
.color-gray {background-color: #514949;}

