@import url(http://fonts.googleapis.com/css?family=Kreon:400,700);

section {
  color: #ffffff;
  min-height: 400px;
  height: auto !important;
  height: 100%;
  padding-top:100px;
}

    .profile-img
        {
            width: 46px;
            height: 46px;
            margin: 0 auto 10px;
            display: block;
            -moz-border-radius: 50%;
            -webkit-border-radius: 50%;
            border-radius: 50%;
        }
 .form-signin
        {
            max-width: 330px;
            padding: 15px;
            margin: 0 auto;
        }
        .form-signin .form-signin-heading, .form-signin .checkbox
        {
            margin-bottom: 10px;
        }
        .form-signin .checkbox
        {
            font-weight: normal;
        }
        .form-signin .form-control
        {
            position: relative;
            font-size: 16px;
            height: auto;
            padding: 10px;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
        }
        .form-signin .form-control:focus
        {
            z-index: 2;
        }
        .form-signin input[type="text"]
        {
            margin-bottom: -1px;
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
        }
        .form-signin input[type="password"]
        {
            margin-bottom: 10px;
            border-top-left-radius: 0;
            border-top-right-radius: 0;
        }
        .account-wall
        {
            margin-top: 20px;
            padding: 40px 0px 20px 0px;
            background-color: #f7f7f7;
            -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
            -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
            box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
        }
        .login-title
        {
            color: #555;
            font-size: 18px;
            font-weight: 400;
            display: block;
        }
        .profile-img
        {
            width: 96px;
            height: 96px;
            margin: 0 auto 10px;
            display: block;
            -moz-border-radius: 50%;
            -webkit-border-radius: 50%;
            border-radius: 50%;
        }
        .need-help
        {
            margin-top: 10px;
        }
        .new-account
        {
            display: block;
            margin-top: 10px;
        }
        

/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  margin-bottom: 60px;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 1;
}

/* Declare heights because of positioning of img element */
.carousel .item {
  height: 400px;
  background-color:#555;
}
.carousel img {
  position: absolute;
  top: 0;
  left: 0;
  min-height: 400px;
}



/* MARKETING CONTENT
-------------------------------------------------- */

/* Pad the edges of the mobile views a bit */
.marketing {
  padding-left: 15px;
  padding-right: 15px;
}

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  text-align: center;
  margin-bottom: 20px;
}
.marketing h2 {
  font-weight: normal;
}
.marketing .col-lg-4 p {
  margin-left: 10px;
  margin-right: 10px;
}


/* Featurettes
------------------------- */

.featurette-divider {
  margin: 80px 0; /* Space out the Bootstrap <hr> more */
}
.featurette {
  padding-top: 120px; /* Vertically center images part 1: add padding above and below text. */
  overflow: hidden; /* Vertically center images part 2: clear their floats. */
}
.featurette-image {
  margin-top: -120px; /* Vertically center images part 3: negative margin up the image the same amount of the padding to center it. */
}

/* Give some space on the sides of the floated elements so text doesn't run right into it. */
.featurette-image.pull-left {
  margin-right: 40px;
}
.featurette-image.pull-right {
  margin-left: 40px;
}

/* Thin out the marketing headings */
.featurette-heading {
  font-size: 50px;
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}



/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {

  /* Remve the edge padding needed for mobile */
  .marketing {
    padding-left: 0;
    padding-right: 0;
  }

  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 20px;
    font-size: 21px;
    line-height: 1.4;
  }

}


/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  margin-bottom: 60px;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 1;
}

/* Declare heights because of positioning of img element */
.carousel .item {
  height: 400px;
  background-color:#555;
}
.carousel img {
  position: absolute;
  top: 0;
  left: 0;
  min-height: 400px;
}



/* MARKETING CONTENT
-------------------------------------------------- */

/* Pad the edges of the mobile views a bit */
.marketing {
  padding-left: 15px;
  padding-right: 15px;
}

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  text-align: center;
  margin-bottom: 20px;
}
.marketing h2 {
  font-weight: normal;
}
.marketing .col-lg-4 p {
  margin-left: 10px;
  margin-right: 10px;
}


/* Featurettes
------------------------- */

.featurette-divider {
  margin: 80px 0; /* Space out the Bootstrap <hr> more */
}
.featurette {
  padding-top: 120px; /* Vertically center images part 1: add padding above and below text. */
  overflow: hidden; /* Vertically center images part 2: clear their floats. */
}
.featurette-image {
  margin-top: -120px; /* Vertically center images part 3: negative margin up the image the same amount of the padding to center it. */
}

/* Give some space on the sides of the floated elements so text doesn't run right into it. */
.featurette-image.pull-left {
  margin-right: 40px;
}
.featurette-image.pull-right {
  margin-left: 40px;
}

/* Thin out the marketing headings */
.featurette-heading {
  font-size: 50px;
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}



/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {

  /* Remve the edge padding needed for mobile */
  .marketing {
    padding-left: 0;
    padding-right: 0;
  }

  

  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 20px;
    font-size: 21px;
    line-height: 1.4;
  }

}    

.sesion-img
        {
            width: 25px;
            height: 25px;
            margin: 0 auto 10px;
            display: block;
            -moz-border-radius: 50%;
            -webkit-border-radius: 50%;
            border-radius: 50%;
        }
        
.sesion-img2
{
    width: 50px;
    height: 50px;
    margin: 0 auto 10px;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}
  
  
         .form-control.filter-select {
  width: auto;
  display: inline;
}

.form-control.filter-textbox {
  width: 200px;
  display: inline;
	text-align: center;
}

.form-group.filter {
  display: inline;
}

@media (max-width: 768px) { 
  .nav>li {
	text-align: center;
  }
}

.input-prepend input.span12  {
	width: 1130px;
}

.navbar .brand {
max-height: 50px;
overflow: visible;
padding-top: 0;
padding-bottom: 0;
}
.navbar a.navbar-brand {padding: 0px 15px 0px;}







.label-arrow {
	position: relative;
}

.label-arrow-right {
    border-top-right-radius:0;
    border-bottom-right-radius:0;
    margin-right:10px;
}
  
.label-arrow-right:after {
	left: 100%;
	top: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
    border-left-color:#999;
	border-width: 10px;
    border-bottom-width: 9px;
	margin-top: -10px;
    
}

.label-arrow-left {
    border-top-left-radius:0;
    border-bottom-left-radius:0;
    margin-left:10px;
}

.label-arrow-left:before {
    right: 100%;
	top: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
    border-right-color:#999;
	border-width: 10px;
    border-bottom-width: 9px;
	margin-top: -10px;
    
}

.label-primary.label-arrow:after {
    border-left-color:#428bca;
}
.label-primary.label-arrow:before {
    border-right-color:#428bca;
}
.label-primary.banner-left:before,.label-primary.banner-right:after {
    border-color:#428bca;
}

.label-success.label-arrow:after {
    border-left-color:#5cb85c;
}
.label-success.label-arrow:before {
    border-right-color:#5cb85c;
}

.label-warning.label-arrow:after {
    border-left-color:#f0ad4e;
}
.label-warning.label-arrow:before {
    border-right-color:#f0ad4e;
}

.label-danger.label-arrow:after {
    border-left-color:#d9534f;               
} 
.label-danger.label-arrow:before {
    border-right-color:#d9534f;               
} 

.label-info.label-arrow:after {
    border-left-color:#5bc0de;
} 
.label-info.label-arrow:before {
    border-right-color:#5bc0de;
}

.banner-left:before {
  border: 10px solid #999;
  border-left: 10px solid transparent !important;
  border-bottom-width: 9px;
  left:-18px;
  position: absolute;
  top: 0;
  height:0;
  content: " ";
}
    
.banner-right:after {
  border: 10px solid #999;
  border-right: 10px solid transparent !important;
  border-bottom-width: 9px;
  right:-18px;
  position: absolute;
  top: 0;
  height:0;
  content: " ";
}

h1 .label-arrow-right {
    margin-right:22px;
}
h1 .label-arrow-left {
    margin-left:22px;
} 
h1 .label-arrow-right:after, h1 .label-arrow-left:before {
	border-width: 22px;
	margin-top: -22px;
}
h1 .banner-left:before {
    border-width: 24px;
	border-left-width:24px:
    right:-10px;
    border-bottom-width:21px;
}







/* for social colors */
[class*='-facebook'] {
	background-color:#3b5998;
    color:#fff;
}
[class*='-google'] {
	background-color:#dd4b39;
    color:#fff;
}
[class*='-twitter'] {
	background-color:#2ba9e1;
    color:#fff;
}
[class*='-pinterest'] {
	background-color:#cb2027;
    color:#fff;
}
[class*='-tumblr'] {
	background-color:#2c4762;
    color:#fff;
}

/* hover and active */
[class*='-facebook']:hover,[class*='-facebook']:focus {
	background-color:#2a4887;
    color:#fff;
}
[class*='-google']:hover,[class*='-google']:active {
	background-color:#cc3a28;
    color:#fff;
}
[class*='-twitter']:hover,[class*='-twitter']:active {
	background-color:#1a98d0;
    color:#fff;
}
[class*='-pinterest']:hover,[class*='-pinterest']:active {
	background-color:#ba1016;
    color:#fff;
}
[class*='-tumblr']:hover,[class*='-tumblr']:active {
	background-color:#1b4651;
    color:#fff;
}

/* alerts */
.alert-facebook {
	background-color:#4c6aa9;
}
.alert-google {
	background-color:#ee5c4a;
}
.alert-twitter {
	background-color:#3cbaf2;
}
.alert-pinterest {
	background-color:#dc3138;
}
.alert-tumblr {
	background-color:#3d5873;
}




/*FORMULARIO DE REGISTROOO*/

.nav-link {
  ;
}
/* zig zag action; see Ana Tudor */
.footer {
	background: linear-gradient(white 40%, transparent 40%), 
			linear-gradient(-45deg, #428BCA 33%, transparent 33%) 0 50%, 
			#428BCA 
			linear-gradient(45deg, #428BCA 33%, white 33%) 0 50%;	
	background-repeat: repeat-x;
	background-size: 1px 100%, 20px 20px, 20px 20px;
	color: #ffffff;
	min-height: 40px;
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by its height */
  margin: 0 auto -40px;
  /* Pad bottom by footer height */
  padding: 0 0 0px;
}

.panel-heading .panel-title>a {
    position: relative;
    display: block;
    padding: 10px 15px;
    margin: -10px -15px; /* expand to size of DIV */
}
body {
  padding-top: 0px;
}
/*
 * Style tweaks
 * --------------------------------------------------
 */
html,
body {
  overflow-x: hidden; /* Prevent scroll on narrow devices */
  height: 100%;
}
footer {
  padding: 0px 0;
}

/*
 * Off Canvas
 * --------------------------------------------------
 * Greater thav 768px shows the menu by default and also flips the semantics
 * The issue is to show menu for large screens and to hide for small
 * Also need to do something clever to turn off the tabs for when the navigation is hidden
 * Otherwise keyboard users cannot find the focus point
 * (For now I will ignore that for mobile users and also not worry about
 * screen re-sizing popping the menu out.)
 */
@media screen and (min-width: 768px) {
  .row-offcanvas {
    position: relative;
    -webkit-transition: all .25s ease-out;
       -moz-transition: all .25s ease-out;
            transition: all .25s ease-out;
  }

  .row-offcanvas-right {
    right: 25%;
  }

  .row-offcanvas-left {
    left: 25%;
  }

  .row-offcanvas-right .sidebar-offcanvas {
    right: -25%; /* 3 columns */
  	background-color: rgb(255, 255, 255);
  }

  .row-offcanvas-left .sidebar-offcanvas {
    left: -25%; /* 3 columns */
  	background-color: rgb(255, 255, 255);
  }

  .row-offcanvas-right.active {
    right: 0; /* 3 columns */
  }

  .row-offcanvas-left.active {
    left: 0; /* 3 columns */
  }

  .row-offcanvas-right.active .sidebar-offcanvas {
  	background-color: rgb(254, 254, 254);
  }
  .row-offcanvas-left.active .sidebar-offcanvas {
  	background-color: rgb(254, 254, 254);
  }

.row-offcanvas .content {
    width: 75%; /* 9 columns */
    -webkit-transition: all .25s ease-out;
       -moz-transition: all .25s ease-out;
            transition: all .25s ease-out;

  }

  .row-offcanvas.active .content {
    width: 100%; /* 12 columns */
  }
       
  .sidebar-offcanvas {
    position: absolute;
    top: 0;
    width: 25%; /* 3 columns */
  }
}
@media screen and (max-width: 767px) {
  .row-offcanvas {
    position: relative;
    -webkit-transition: all .25s ease-out;
       -moz-transition: all .25s ease-out;
            transition: all .25s ease-out;
  }

  .row-offcanvas-right {
    right: 0;
  }

  .row-offcanvas-left {
    left: 0;
  }

  .row-offcanvas-right
  .sidebar-offcanvas {
    right: -50%; /* 6 columns */
  }

  .row-offcanvas-left
  .sidebar-offcanvas {
    left: -50%; /* 6 columns */
  }

  .row-offcanvas-right.active {
    right: 50%; /* 6 columns */
  }

  .row-offcanvas-left.active {
    left: 50%; /* 6 columns */
  }

  .sidebar-offcanvas {
    position: absolute;
    top: 0;
    width: 50%; /* 6 columns */
  }
}
#accordion .glyphicon { margin-right:10px; }
.panel-collapse>.list-group .list-group-item:first-child {border-top-right-radius: 0;border-top-left-radius: 0;}
.panel-collapse>.list-group .list-group-item {border-width: 1px 0;}
.panel-collapse>.list-group {margin-bottom: 0;}
.panel-collapse .list-group-item {border-radius:0;}



/*CONTADOR*/

.center{
width: 115px;
  margin: 40px auto;
  
}


/*CHART*/

#chart{
  height:500px;
}



/*RESPONSIVE BUTTONS*/

@media (max-width: @screen-sm) {
  .btn-group-responsive {
    .pull-left, .pull-right { float: none; }
    .btn {
      .btn-block(); // Reuse btn-block code
      margin-bottom: 10px;
    }
    .btn:last-child { margin-bottom: 0px; }
  }
}


  
@media (max-width: 768px) {
  .btn-responsive {
    padding:2px 4px;
    font-size:80%;
    line-height: 1;
    border-radius:3px;
  }
}

@media (min-width: 769px) and (max-width: 992px) {
  .btn-responsive {
    padding:4px 9px;
    font-size:90%;
    line-height: 1.2;
  }
}


/*INPUT*/

.form-inline .form-control {
	width:auto;
}
.form-inline .form-group {
	display: inline-block;
}



/*COLOR*/

.color-blue {color: #0080c5;}
.color-red {color: #FF0000;}
.color-green{color:#88E553;}


/*navlogin*/

.navbar-login
{
    width: 305px;
    padding: 10px;
    padding-bottom: 0px;
}

.navbar-login-session
{
    padding: 10px;
    padding-bottom: 0px;
    padding-top: 0px;
}

.icon-size
{
    font-size: 87px;
}


/*DESTACADOS*/

.destacados{
    padding: 20px 0;
	text-align: center;
}
.destacados > div > div{
	padding: 10px;
	border: 1px solid transparent;
	border-radius: 4px;
	transition: 0.2s;
}
.destacados > div:hover > div{
	margin-top: -10px;
	border: 1px solid rgb(200, 200, 200);
	box-shadow: rgba(0, 0, 0, 0.1) 0px 5px 5px 2px;
	background: rgba(200, 200, 200, 0.1);
	transition: 0.5s;
}