body 
{
    background-color: #fff;
}

.titulo
{
    font-family: Calibri;
    font-size:medium;
    font-style:normal;
    color:#5788B2;    
}

.texto-centrado
{
    text-align: center;
    vertical-align:middle; 
}

.texto-izquierda
{
    text-align:left;   
}

.texto-derecha
{
    text-align:right;   
}

.cuerpo
{
    font-weight:bold;
    font-size:small;
    font-family:Calibri;
    color: #5788B2;    
}

